<section id="about-us" class="bg-alt-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">So much to explore!</h2>
                <hr class="primary" />
		<h3>What is our purpose?</h3>
                <p>
			The Data Science and Analytics Club (DSAC) exists to promote student led exploration of data science topics and opportunities.
                </p>
		<h3>Why do we exist?</h3>
		<p>
			We believe that by organizing we can provide Data Science opportunities to the UVA student body that couldn't be provided otherwise. These opportunities come through the club’s shared effort, elevated status, and increased resources.
		</p>
		<h3>What do we offer?</h3>
		<p>
			DSAC endeavours to offer resources to the UVA student body: (1) a community of other students interested in DS regardless of their own major, (2) workshops teaching DS skills, (3) opportunities to learn about the DS community at large around UVA and (4) real, impactful projects to flex and demonstrate DS skills.
		</p>
            </div>

        </div>
    </div>

</section>

