<section id="leadership">

        <div class="container">
                <h2> Leadership Circle </h2>
                <div class="row">


<style>
  .column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

.role {
  color: grey;
}

</style>

  <div class="column">
      <img src="assets/blankHeadshot.png" style="width:70%">
        <h2>name</h2>
        <p class="role">role</p>
        <p>biographical info</p>
        <p>example@example.com</p>
  </div>


  <div class="column">
      <img src="assets/blankHeadshot.png"  style="width:70%">
        <h2>name</h2>
        <p class="role">role</p>
        <p>biographical info</p>
        <p>example@example.com</p>
  </div>


  <div class="column">
      <img src="assets/blankHeadshot.png" style="width:70%">
        <h2>name</h2>
        <p class="role">role</p>
        <p>biographical info</p>
        <p>example@example.com</p>
  </div>

  <div class="column">
      <img src="assets/blankHeadshot.png" style="width:70%">
        <h2>name</h2>
        <p class="role">role</p>
        <p>biographical info</p>
        <p>example@example.com</p>
  </div>

  <div class="column">
      <img src="assets/blankHeadshot.png" style="width:70%">
        <h2>name</h2>
        <p class="role">role</p>
        <p>biographical info</p>
        <p>example@example.com</p>
  </div>

  <div class="column">
      <img src="assets/blankHeadshot.png" style="width:70%">
        <h2>name</h2>
        <p class="role">role</p>
        <p>biographical info</p>
        <p>example@example.com</p>
  </div>

    </div>
  </div>
</section>
