<section id="membership" class="bg-alt-1">
        <div class="container">
                <h2>Get Involved!</h2>
                <div class="row">
                        <div class="col-lg-12 text-center">
				<h3>Who can join?</h3>
				<p>
					Any currently enrolled student at UVA can join!
				</p>
				<h3>How can I join?</h3>
				<p>
				Join our roster on the club's<u><a href='https://uva.campuslabs.com/engage/organization/dsac'style='color: white'>@UVA page.</a></u>
				</p>
				<h3>What are member exclusive benefits (why should I join)?</h3>
				<p>
					The benefits are inclusion on all club emails, a voice in all club elections and eligibility for club leadership.
				</p>
				<h3>What kind of commitment does membership require?</h3>
				<p>
					Nothing, we are students too and understand the challenge of balancing classes and clubs. During times that you have more availability, we’d love for you to get more involved. When things get busy, we understand that you may need to step back.
				</p>
                        </div>
                </div>
        </div>
</section>
